/.Memory_Safe_Resolute.aadlbin
/.Reachability_Resolute.aadlbin
/.Security_Exposure_Resolute.aadlbin
/.Security_Levels_Resolute.aadlbin
/.Security_Util_Resolute.aadlbin
/.Userdefined_Project_Constants.aadlbin
/.Util_Resolute.aadlbin
